* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #861100;
    background-image: url('.\imagens\machadambar duplo.jpg');
    background-size: cover  ;
    font-family: 'Courier New', Courier, monospace;
}